<a href="https://colab.research.google.com/github/SyedImranML/Python_Basic/blob/main/Lambda_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda functions provide a concise and powerful way to define small, anonymous functions in Python. They are useful for short and simple operations, especially when used in conjunction with higher-order functions like map(), filter(), and reduce().

In [ ]:
(lambda x,y:x+y)(3,4)

7

#### Immediately invoke the function expression

In [ ]:
(lambda x,y:x*y)(30,5)

150

In [ ]:
fun_1=lambda x,y,z: x+y*z
fun_1(10,20,30)

610

In [ ]:
prices = [100,200,300,400,500]
apply_discount = lambda prices : prices*0.9
final_prices=map(apply_discount,prices)                 # map() apply all lambda function to all the prices in my list
print('Price Before Discount :',prices)
print('Price After Discount :',list(final_prices))

Price Before Discount : [100, 200, 300, 400, 500]
Price After Discount : [90.0, 180.0, 270.0, 360.0, 450.0]

In [ ]:
prices = [100,200,300,400,500]
#apply_discount = lambda prices : prices*0.9
final_prices=map(lambda prices : prices*0.9,prices)                 # map() apply all lambda function to all the prices in my list
print('Price Before Discount :',prices)
print('Price After Discount :',list(final_prices))

Price Before Discount : [100, 200, 300, 400, 500]
Price After Discount : [90.0, 180.0, 270.0, 360.0, 450.0]

In [ ]:
def myfunc(n):
  return len(n)

x=map(myfunc,('Apple','Banana','Cherry'))
print(list(x))

[5, 6, 6]

In [ ]:
def myfunc(n):
  return len(n)

list1=['Apple','Banana','Cherry']    #map(function,iterable)
x=map(myfunc,list1)
print(list(x))

[5, 6, 6]

In [ ]:
list1=['Apple','Banana','Cherry']

len_list1 = lambda n : len(n)
x=map(len_list1,list1)
print(list(x))

[5, 6, 6]

In [ ]:
# Multiply each number by 10

list_1 = [10,29,39,579,89]

mult = lambda x : x*10

x=map(mult,list_1)
print(list(x))

[100, 290, 390, 5790, 890]

In [ ]:
list_1 = [10,29,39,579,89]
y = filter(lambda x : x%2==0,list_1)
print(list(y))

[10]

In [ ]:
l1 = [10,29,39,579,89]
l2 = [100,200,300,400,500]

y = map(lambda n1,n2:n1+n2,l1,l2)
print(list(y))

[110, 229, 339, 979, 589]

In [ ]:
l1 = [10,29,39,579,89]
l2 = [100,200,300,400,500,900]

y = map(lambda n1,n2:n1+n2,l1,l2)
print(list(y))

[110, 229, 339, 979, 589]

The functions which take one or more arguments and return the result are known as higher-order functions.

A lambda function can be a higher-order function:

In [4]:
#As Arguments to Higher-Order Functions
#Lambda functions are often used as arguments to higher-order functions, such as map(), filter(), and reduce(). These functions allow you to perform operations on iterables in a concise and efficient way. Here's an example using map():

numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x ** 2, numbers))
print(squared)

# Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [5]:
names = ['Alice', 'Bob', 'Charlie', 'Dave']
sorted_names = sorted(names, key=lambda x: len(x))
print(sorted_names)

['Bob', 'Dave', 'Alice', 'Charlie']