## List [ Python Programming]

In [1]:
# 1. List is an ordered sequence of items
# 2. It is one of the most used datatype in python and is very flexible.
# 3. Define in square braces []
# 4. Mutable Datatype
# 5. To reduce the number of variable we used list

In [3]:
# Example -1 # Here every items are define indiviually in variable which is very tds
a="Apple"
b="Banana"
c="Watermelon"
it=["Apple","Banana","Watermelon"] # Now items are in list seperated by ,
it

['Apple', 'Banana', 'Watermelon']

In [4]:
print(it,type(it))

['Apple', 'Banana', 'Watermelon'] <class 'list'>

## List Allow Duplicates

In [5]:
my_list = ["Apple", "Banana", "Watermelon", "Banana", "Pear"]
print(my_list)

['Apple', 'Banana', 'Watermelon', 'Banana', 'Pear']

In [6]:
print(len(my_list)) #Print the number of items in the list

5

In [7]:
# List items can be of any data type
my_list1 = ["Apple", "Banana", "Pear"]
my_list2 = [1, 5, 7, 9, 3]
my_list3 = [True, False, False]
my_list4 =[10,'Python',14.34,True]  # list with mixed data types
print(my_list1)
print(my_list2)
print(my_list3)
print(my_list4)

['Apple', 'Banana', 'Pear']
[1, 5, 7, 9, 3]
[True, False, False]
[10, 'Python', 14.34, True]

In [21]:
#Using the list() constructor to make a List
my_list11 = list(("apple", "banana", "cherry")) # note the double round-brackets
print(my_list11)

['apple', 'banana', 'cherry']

In [22]:
type(my_list11)

list

In [24]:
# empty list
my_list12 = []
print(my_list12)

[]

In [26]:
# A list can also have another list as an item. This is called a nested list.
# nested list
my_list13 = ["Computer", [8, 4, 6], ['Laptop']]
print(my_list13)

['Computer', [8, 4, 6], ['Laptop']]

## Access List Elements

In [27]:
# There are various ways in which we can access the elements of a list.
# We can use the index operator [] to access an item in a list. In Python, indices start at 0.

In [32]:
# Example -1 
# List indexing

my_list = ['P', 'y', 't', 'h', 'o','n']

print(my_list[0])  
print(my_list[2])  
print(my_list[4]) 

print()
# Nested List
n_list = ["Computer", [8, 4, 6], ['Laptop']]

# Nested indexing
print(n_list[0][3])
print(n_list[1][2])

P
t
o

p
6

In [33]:
# Error! Only integer can be used for indexing
print(my_list[4.0])

TypeError: list indices must be integers or slices, not float

## Negative indexing

In [34]:
# Python allows negative indexing for its sequences.
# The index of -1 refers to the last item, -2 to the second last item and so on.

In [35]:
# Negative indexing in lists
my_list = ['P', 'y', 't', 'h', 'o','n']

print(my_list[-1])

print(my_list[-5])

n
y

## Slicing Lists

In [36]:
# We can access a range of items in a list by using the slicing operator :(colon).

In [37]:
# List slicing in Python

my_list = ['p','r','o','g','r','a','m']

# includes element at index 2, 3, 4
# excludes element at index 5
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['p', 'r']
['a', 'm']
['p', 'r', 'o', 'g', 'r', 'a', 'm']

## Add/Change List Elements

In [38]:
# Lists are mutable, meaning their elements can be changed unlike string or tuple.
# We can use the assignment operator = to change an item or a range of items.

In [39]:
# Correcting mistake values in a list
odd = [2, 4, 6, 8]

# change the 1st item    
odd[0] = 1            

print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]  

print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [42]:
# We can add one item to a list using the append() method or add several items using the extend() method.
# Appending and Extending lists in Python

odd = [1, 3, 5]

odd.append(7)

print(odd)

odd.extend([9, 11, 13])

print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

In [44]:
# We can also use + operator to combine two lists. This is also called concatenation.
# The * operator repeats a list for the given number of times.

# Concatenating and repeating lists

odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["Imran"] * 3)

[1, 3, 5, 9, 7, 5]
['Imran', 'Imran', 'Imran']

In [47]:
# we can insert one item at a desired location by using the method insert() or insert multiple items by squeezing it into an empty slice of a list.

# Demonstration of list insert() method

odd = [1,2, 9]
odd.insert(3,"Imran") # Here 3 is the location where Imran is place

print(odd)

odd = ['Apple','Banana', 9]
odd.insert(2,"Pear") # Here 3 is the location where Imran is place

print(odd)

[1, 2, 9, 'Imran']
['Apple', 'Banana', 'Pear', 9]

In [49]:
odd = ['Apple','Banana', 9]
odd[2:2] = ['Watermelon','Cheery']

print(odd)

['Apple', 'Banana', 'Watermelon', 'Cheery', 9]

## Delete List Elements

In [50]:
# We can delete one or more items from a list using the Python del statement. 
# It can even delete the list entirely.

In [1]:
# Deleting list items
my_list = ['p', 'y', 't', 'h', 'o', 'n']

# delete one item
del my_list[2]

print(my_list)

# delete multiple items
del my_list[1:6]

print(my_list)

#expected Error becoz we cannot use del to delete entire list
# delete the entire list
del my_list

# Error: List not defined
print(my_list)

['p', 'y', 'h', 'o', 'n']
['p']

NameError: name 'my_list' is not defined

In [ ]:
# We can use remove() to remove the given item or pop() to remove an item at the given index.
# The pop() method removes and returns the last item if the index is not provided. 
# This helps us implement lists as stacks (first in, last out data structure).
# And, if we have to empty the whole list, we can use the clear() method.

In [59]:
my_list = ['p', 'y', 't', 'h', 'o', 'n']
my_list.remove('p')

print(my_list)

print()


print(my_list.pop(1))
print(my_list)
print()


print(my_list.pop())
print(my_list)

my_list.clear()
print(my_list)

['y', 't', 'h', 'o', 'n']

t
['y', 'h', 'o', 'n']

n
['y', 'h', 'o']
[]

In [60]:
my_list = ['p','r','o','b','l','e','m']
my_list[2:3] = []
my_list
my_list[2:5] = []
my_list

['p', 'r', 'm']

In [2]:
my_list = ['p','r','o','b','l','e','m']
my_list[2:3] = []
my_list

['p', 'r', 'b', 'l', 'e', 'm']

In [3]:
my_list[2:5] = []
my_list

['p', 'r', 'm']

In [9]:
a=['h','e','l','l','o']
a[1:4]=[]
a

['h', 'o']

In [1]:
# Methods                               Descriptions
# append()                      adds an element to the end of the list
# extend()                      adds all elements of a list to another list
# insert()                      inserts an item at the defined index
# remove()                      removes an item from the list
# pop()                         returns and removes an element at the given index
# clear()                       removes all items from the list
# count()                       returns the count of the number of items passed as an argument
#

In [2]:
# Example 

my_list = [3, 8, 1, 6, 8, 8, 4]

# Add 'a' to the end
my_list.append('a')

# Output: [3, 8, 1, 6, 0, 8, 4, 'a']
print(my_list)

# Index of first occurrence of 8
print(my_list.index(8))   # Output: 1

# Count of 8 in the list
print(my_list.count(8))  # Output: 3

[3, 8, 1, 6, 8, 8, 4, 'a']
1
3

In [7]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [9]:
# Here is an example to make a list with each item being increasing power of 2
pow2 = [x ** 2 for x in range(10)]
print(pow2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## List Membership

In [10]:
my_list = ['p', 'y', 't', 'h', 'o', 'n']

# Output: True
print('p' in my_list)

# Output: False
print('a' in my_list)

# Output: True
print('c' not in my_list)

True
False
True

## Iterating Through a List

In [11]:
# Using a for loop we can iterate through each item in a list.

for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango

In [12]:
# Example 
a=[1,2,3,4,5]
b=["Python",21,99.5]
print(a,b)
print(len(a)) # length of list
print(b[0])  # locate list element based on index
print(a[1:]) 
print(a[:2])
print(a+b) #concatenate 2 list

[1, 2, 3, 4, 5] ['Python', 21, 99.5]
5
Python
[2, 3, 4, 5]
[1, 2]
[1, 2, 3, 4, 5, 'Python', 21, 99.5]

In [13]:
# reverse()
a=[1,2,3,4,5]
a.reverse()  #reverse list
print(a)

[5, 4, 3, 2, 1]

In [14]:
# Example 
a=[1,2,3]
b=[4,5,6]
c=[a,b]  #Nested list Matrix
print(c)

[[1, 2, 3], [4, 5, 6]]

In [18]:
print(c[0])  #printing row
print(c[0][0])
print(c[0][1])
print(c[1][2])

[1, 2, 3]
1
2
6