<a href="https://colab.research.google.com/github/SyedImranML/Python_Basic/blob/main/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. ARITHMETIC OPERATION

###Simple Arithmetic

In [ ]:
a=5
b=6
c=a+b
print(c)

11

###Simple Arithmetic - Get input from User (+,-,*,%)

In [ ]:
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
add=a+b
print(add)

In [ ]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
add=a+b
sub=a-b
mult=a*b
div=a/b
mod=a%b
print("ADD:",add)
print("Sum: {0}, Diff: {1}, Mult: {2}, Div:{3}, Mod:{4}".format(add,sub,mult,div,mod)) #Print using Format

In [ ]:
print("Sum: %d, Diff: %d, Mult: %d, Div:%15.6f, Mod:%d"%(add,sub,mult,div,mod)) #Print using PADDING & PRECISION

In [ ]:
print('{0:<4} | {1:^4} | {2:^4} | {3:>4}'.format('Sum','Diff','Mult','Div'))
print('{0:<4} | {1:^4} | {2:^4} | {3:>4}'.format(add,sub,mult,div))

###Simple Arithmetic - Get input from User (power)

In [ ]:
a=2
b=3
power=a**b #Power
print(power)

##2. STRINGS

###Create String

In [ ]:
a = 'Python'
b = "Bootcamp"
print(a+b)

###Length of String

In [ ]:
a="Champ"
print(len(a))

In [ ]:
a="S"
b=a*5
print(b)

###String Index

In [ ]:
a="champ"
print(a[3]) #identifing the element based on index
print(a[2:]) #Grab the remaing elements except upto the Index
print(a[:2]) #Grab the elements upto the Index
print(a[-1]) #Grab the Last element
print(a[:-1]) #Grab the elements except last element
print(a[::2]) #Grab everything with 2 steps
print(a[::-1]) #Print string backwards

###String Functions

In [ ]:
a="Master Class"
print(a.upper()) #Changing to Upper case
print(a.lower()) #Changing to Lowerb= a.split() case

In [ ]:
b= a.split() #Splitting String
print(b)
print(b[1]) #Printing the splitting string based on Index

In [ ]:
c="ElonMusk,SteveJobs,BillGates"
d=c.split(",") #Splitting string based on Delimitter
print(d)
print(d[1])

In [ ]:
a="Master Class"
print(f"Welcome to Python {a} !") #Formatting string Literals

##3. LIST

###Create List

In [ ]:
a = [1,2,3,4,5]
b = ["Champ",21,99.5]
print(a,b)
print(len(b)) #Length of List
print(b[0]) #Locate list element based on Index
print(a[1:]) #print elements except 1st
print(a[:2]) #Print elements upto 2nd element
print(a+b) #Concatenate 2 list

In [ ]:
a = [1,2,3,4,5]
a.append(6) #inserting new elements to the existing list
print(a)

In [ ]:
a = [1,2,3,4,5]
a.reverse() #Reverse list
print(a)
print(min(a)) #Minimum
print(max(a)) #Maximum

In [ ]:
a = [1,2,3,4,5]
from random import shuffle
shuffle(a)
a

In [ ]:
a=[1,2,3]
b=[4,5,6]
c=[a,b] #Nested List Matrix
print(c)
print(c[0]) #Printing row
print(c[0][0]) #Printing 1st element

##4. DICTIONARIES

###Creating Dictionary : Key & Value

In [ ]:
a = {"Name":"Elon","Age":50,"Company":["SpaceX","Tesla"]}
a

In [ ]:
a = {"Name":"Elon","Age":50,"Company":["SpaceX","Tesla"]}
print(a["Name"]) #Printing value based on its Key
a["Age"]= 51 #Changing values
a

In [ ]:
b={"Climate":{"Condition":{"Temperature":"38 Degree","Humidity":"70 Percentage"}}}
print(b["Climate"]["Condition"]["Humidity"])

In [ ]:
print(a.keys()) #Printing Keys of the Dictionaries
print(a.values()) #Printing Values of the Dictionaries
print(a.items()) #Printing Tuple of the all items

##5. TUPLES

###Creating Tuples

In [ ]:
a = ("Champ",21,99.5)
a

In [ ]:
print(len(a)) #Length of tuple
print(a[0]) #Printing elements from tuple via index
print(a.index("Champ")) #Getting Index of Elements

##6. SETS

###Creating Set

In [ ]:
a = set()

In [ ]:
a.add("Champ")
a

In [ ]:
a.add(30)
a

In [ ]:
b = ["Champ",21,99.5]
set(b)

##7. BOOLEAN

###Creating Boolean

In [ ]:
a = True

In [ ]:
a = 10
b = 5
c=15
print(a<b)
print(a>b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)
print(a<b and c>a)
print(a<b or c>a)

##8.Python Statements

###If

In [ ]:
a = True
if a:
  print("Positive")
else:
  print("negative")

In [ ]:
a=10
b=6
c=6

if a<b:
  print("a less than b")
elif c==b:
  print("a is equal to b")
  print("a is not less than b")
  if c<a:
    print("c is less than b")
else:
  print("a is not less than b")

###For

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a:
  print(i)

In [ ]:
a = [i for i in 'Champ']
a

###Odd & Even Number

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a:
  if i % 2 == 0:
    print(i,"Even Number")
  else:
    print(i,"Odd Number")

###String - For

In [ ]:
for a in "Hello all":
  print(a)

###Dictionary - For

In [ ]:
a = {"Name":"Elon","Age":50,"Company":["SpaceX","Tesla"]}
for k,v in a.items():
  print(k)
  print(v)

###While

In [ ]:
a=0
while a <11:
  print(a)
  a+=1 #a=a+1

### While - Break & Continue

In [ ]:
a=0
while a < 10:
  print(a)
  a+=1
  if a==5:
    print("a is equal to 5")
    break
  else:
    print("Continueeee")
    continue

###Range

In [ ]:
for a in range (6):
  print(a)

In [ ]:
for a in range (1,10,1):
  print(a)

In [ ]:
for a in range (10,0,-3):
  print(a)

In [ ]:
a = [i**2 for i in range(0,5)]
a

In [ ]:
a = [i for i in range(10) if i % 2 == 0]
a

### Enumerate - To track no. of iteration in the loop, without working with variable increament

In [ ]:
a=0
for i,a in enumerate("Hello Champ"):
  print(i,a)

### Zip - Creating a tuples by zipping 2 list

In [ ]:
a = ["Name","Age","Country"]
b = ["Champ",27,"India"]
list(zip(a,b))