## Tuples

In [1]:
#1. Tuple is an ordered sequence of items same as a list.
#2. It is defined within parantheses () where items are seperated by commas.
#3. Immutable datatype i.e cannot be added/updated
#4. Faster than list
#5. It Contains multiple Values.
#6. Specific element cannot be removed.
#7. Cannot be reversed.
#8. Index-searching given element which returns the position.
#9. Already sorted.

## Creating a Tuple

In [2]:
# 1. A tuple is created by placing all the items (elements) inside parentheses () seperated by commas
# 2. The parentheses are optional, however, it is a good practice to use them.
# 3. A tuple can have any number of items and they may be of different types (integer, float, list, string, etc.).

In [3]:
# Example -1

# Different types of tuples

# Empty tuple
my_tuple = ()    
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello Syed Imran", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("Computer", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello Syed Imran', 3.4)
('Computer', [8, 4, 6], (1, 2, 3))

In [5]:
# A tuple can also be created without using parentheses. This is known as tuple packing.
my_tuple = 5, 2.6, "Computer"
print(my_tuple)
print(type(my_tuple))

# tuple unpacking is also possible
a, b, c = my_tuple

print(a)      # 5
print(b)      # 2.6
print(c)      # Computer

(5, 2.6, 'Computer')
<class 'tuple'>
5
2.6
Computer

## Creating a tuple with one element

In [7]:
# Having one element within parentheses is not enough to consider as tuple We  need a trailing comma to indicate that it is, in fact, a tuple.

# Example -2

my_tuple = ("Welcome to Python")
print(type(my_tuple))  # <class 'str'>

# Creating a tuple having one element
my_tuple = ("Welcome to Python",)
print(type(my_tuple))  # <class 'tuple'>

# Parentheses is optional
my_tuple = "Welcome to Python",
print(type(my_tuple))  # <class 'tuple'>

<class 'str'>
<class 'tuple'>
<class 'tuple'>

## Access Tuple Elements

In [8]:
# There are various ways in which we can access the elements of a tuple.
# 1. Indexing
# We can use the index operator [] to access an item in a tuple, where the index starts from 0.
# So, a tuple having 6 elements will have indices from 0 to 5.
# Trying to access an index outside of the tuple index range(6,7,...) will raise an IndexError.
# The index must be an integer only, so we cannot use float or other types. This will result in TypeError.
# Nested tuples are accessed using nested indexing

In [12]:
# Accessing tuple elements using indexing

my_tuple = ('p','y','t','h','o','n')

print(my_tuple[0])   # 'p' 
print(my_tuple[5])   # 't'

# IndexError: list index out of range
# print(my_tuple[6])

# Index must be an integer
# TypeError: list indices must be integers, not float
# my_tuple[4.0]

p
n

In [14]:
# Example -3

# nested tuple

n_tuple = ("Computer", [5, 4, 3], (1, 2, 3))

# nested index
print(n_tuple[0][3])       # 'p'
print(n_tuple[1][1])       # 4

p
4

## 2. Negative Indexing

In [ ]:
# Example -2

# Python allows negative indexing for its sequences.
# The index of -1 refers to the last item, -2 to the second last item and so on.
# Negative indexing for accessing tuple elements.

my_tuple = ('p', 'y', 't', 'h', 'o', 'n')

# Output: 'n'
print(my_tuple[-1])

# Output: 'p'
print(my_tuple[-6])

## 3. Slicing

In [17]:
# We can access a range of items in a tuple by using the slicing operator colon :

# Accessing tuple elements using slicing.

my_tuple = ('P','y','t','h','o','n','c','o','d','e')

# elements 2nd to 4th
# Output: ('y', 't', 'h')
print(my_tuple[1:4])

# elements beginning to 2nd
# Output: ('p', 'y','t')
print(my_tuple[:-7])

# elements 8th to end
# Output: ('o', 'd', 'e')
print(my_tuple[7:])

# elements beginning to end
# Output: ('P', 'y', 't', 'h', 'o', 'n', 'c', 'o', 'd', 'e')
print(my_tuple[:])

('y', 't', 'h')
('P', 'y', 't')
('o', 'd', 'e')
('P', 'y', 't', 'h', 'o', 'n', 'c', 'o', 'd', 'e')

## Changing a Tuple

In [22]:
# Unlike lists, tuples are immutable.
# This means that elements of a tuple cannot be changed once they have been assigned. 
# But, if the element is itself a mutable data type like a list, its nested items can be changed.
# We can also assign a tuple to different values (reassignment).

In [27]:
# Changing tuple values

my_tuple = (7, 1, 3, [3, 5])


# TypeError: 'tuple' object does not support item assignment
# my_tuple[1] = 9

In [28]:
# However, item of mutable element can be changed

my_tuple[3][0] = 9    # Output: (7, 1, 3, [9, 5])
print(my_tuple)

(7, 1, 3, [9, 5])

In [30]:
# Tuples can be reassigned

my_tuple = ('P', 'y', 't', 'h', 'o', 'n', 'c', 'o', 'd', 'e')

# Output: ('P', 'y', 't', 'h', 'o', 'n', 'c', 'o', 'd', 'e')
print(my_tuple)
print(type(my_tuple))

('P', 'y', 't', 'h', 'o', 'n', 'c', 'o', 'd', 'e')
<class 'tuple'>

In [31]:
# We can use + operator to combine two tuples. This is called concatenation.
# We can also repeat the elements in a tuple for a given number of times using the * operator.
# Both + and * operations result in a new tuple.

# Concatenation
# Output: (1, 2, 3, 4, 5, 6)
print((1, 2, 3) + (4, 5, 6))

# Repeat
# Output: ('SyedImran', 'SyedImran', 'SyedImran')
print(("SyedImran",) * 3)

(1, 2, 3, 4, 5, 6)
('SyedImran', 'SyedImran', 'SyedImran')

## Deleting a Tuple

In [37]:
# As we know that we cannot change the elements in a tuple. It means that we cannot delete or remove items from a tuple.
# Deleting a tuple of  entire items , is possible using the keyword del.

# Deleting tuples

my_tuple = ('P', 'y', 't', 'h', 'o', 'n', 'c', 'o', 'd', 'e')

# can't delete items
# TypeError: 'tuple' object doesn't support item deletion
# del my_tuple[3]

# Can delete an entire tuple
del my_tuple

# NameError: name 'my_tuple' is not defined
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [44]:
# Length of Tuple

my_tuple=("Python",22,99.34)
print(len(my_tuple))

3

## Tuple Methods

In [38]:
# Methods that add items or remove items are not available with tuple. 
# There are two methods available.
# Some examples of Python tuple methods

In [40]:
# Example

my_tuple = ('P', 'y', 't', 'h', 'o','n',)

print(my_tuple.count('p'))  # Output: 0
print(my_tuple.index('t'))  # Output: 2

0
2

## Tuple Operations

In [41]:
# 1. Tuple Membership 
# We can test if an item exists in a tuple or not, using the keyword in.

# Membership test in tuple
my_tuple = ('P', 'y', 't', 'h', 'o','n',)

# In operation
print('y' in my_tuple)
print('k' in my_tuple)

# Not in operation
print('g' not in my_tuple)

True
False
True

## 2. Iterating Through a Tuple

In [42]:
# We can use a for loop to iterate through each item in a tuple.

# Using a for loop to iterate through a tuple
for name in ('Syed Imran', 'Smith','Ramesh'):
    print("Welcome to Python ", name)

Welcome to Python  Syed Imran
Welcome to Python  Smith
Welcome to Python  Ramesh

## Finally Advantages of Tuple over List

In [ ]:
# 1. Since tuples are quite similar to lists, both of them are used in similar situations.
# 2. We generally use tuples for heterogeneous (different) data types and lists for homogeneous (similar) data types.
# 3. Since tuples are immutable, iterating through a tuple is faster than with list. So there is a slight performance boost.
# 4. Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
# 5. If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.