In [17]:
#absolute path of the working directory
import os
os. getcwd()

'C:\\Users\\hp'

In [18]:
#How to Check Your Python Version
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [21]:
#Another method to check the version
from platform import python_version
print(python_version())

3.8.8

In [1]:
a=10
b=10
print(a,b)
print(id(a),id(b)) #Stores based on values as memory address , id() is predefined function to check the memory address

10 10
140725008869456 140725008869456

## Invalid Variable Name

In [2]:
1a=20      # Name should not start with number
a b=35     #No multiple words with space 
@a=20      #No symbol except underscore _
if=20      #Avoid using keywords

SyntaxError: invalid syntax (<ipython-input-2-7425e7110ba9>, line 1)

## Valid Variable Name

In [6]:
a1=20       
ab=25
a_b=12
_a=20
A2=60                 #Small or capital letter can be used as variable name
print(a1)
print(ab)
print(a_b)
print(_a)
print(A2)

20
25
12
20
60

## String Concatenation in Python

In [ ]:
# Two or more variable used for concatenate

In [8]:
a="Hello"
b="python"
print(a+b) # In case of string + act as concatenate symbol 
print(a + " " +b)  #to give space

Hellopython
Hello python

In [9]:
c=20
print(a+c) # expected error becoz a is string and c is integer here both should be string or ingeter

TypeError: can only concatenate str (not "int") to str

In [10]:
print(c+30)

50

# Arithmatic Operators in python

In [13]:
# operator          Name            example
#   +                Addition         x+y
#   -                subtraction      x-y
#   *                Multiplication   x*y
#   /                Division         x/y
#  **                exponent         x**y
#  //                floor division   x//y

In [15]:
#Example
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**2)
print(a**3)
print(a//b)

30
-10
200
0.5
100
1000
0

# Assignment Operators

In [16]:
#  Operator           Example                  Same As
#  =                    x=5                     x=5
#  +=                   x+=3                    x=x+3
#  -=                   x-=3                    x=x-3

In [17]:
# Example
x=5
print(x)
x=x+5
print(x)
x+=5
print(x)
x=x-5
print(x)
x-=5
print(x)

5
10
15
10
5

## Python Comparision Operators

In [18]:
# Comparision Operators
# Operator         Name                  Example
# ==               Equal                   x==y
# !=               Not Equal               x!=y
# >                Greater than            x>y
# <                Less than               x<y
# >=               Greater than equal to   x>=y
# <=               Less than equal to      x<=y

In [19]:
# Example 1
x=10
y=10
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

True
False
False
False
True
True

In [20]:
# Example 2
x=10
y=20
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

## Logical Operator

In [21]:
# Operator                   Description                               Example
# and                        Returns True if stats are true            x<5 and x<10
# or                         Returns True if one of the stats is true  x<5 or x<4
# not                        Reverse the result returns false if the   not(x<5 and x<10)
#                            the result is true

In [23]:
# Example -1
x=10
y=20
print(x==10 and x<y)
print(x==10 and x<y and x==y)
print(x==10 or x<y or x==y)
print(x!=10 or  x<y or x==y)
print(x!=10)
print(not x!=10)

True
False
True
True
False
True

## Membership Operators in Python ( in , not in)

In [24]:
# Example -1
s="Hello"
print('h' in s)
print('H' in s)

False
True

In [25]:
# Example -2
l=[10,20,'Imran','Python']
print('Imran' in l)
print('Allen' in l)
print(20 in l)
print(30in l)

True
False
True
False

In [26]:
# Example 3 using not in
print(50 not in l)

True

## Identity Operators in Python

In [27]:
#   Operator           Description                                           Example
#    is                returns true if both variables are the same object     x is y 
#    is not            returns true if both variables are not same object     x is not y

In [28]:
# Example -1 using is
x=10
y=10
print(x is y)
print(x is y ,x==y)  # both stats are same

True
True True

In [29]:
# Example -2 using is not
x=10
y=10
print(x is not y,x!=y)

False False

## Bitwise Operators in Python

In [30]:
# Operator                     Name                             Description
#   &                          AND                               x & y            # both should be True
#   |                          OR                                x|y              # One should be True
#   ^                          XOR                               x^y              # if same -> False otherwise True
#

In [32]:
# Example -1
x=10
y=8
print(bin(x))
print(bin(y))
print(x&y,bin(x&y))
print(bin(x&y),x&y)
print(bin(x|y),x|y)
print(bin(x^y),x^y)

0b1010
0b1000
8 0b1000
0b1000 8
0b1010 10
0b10 2

## Data Types

In [33]:
# 1. Integer                    # A number without decimal i.e whole number is an integer
# 2. Float                      # A number with decimal value 
# 3. String                     # A string is a collection ofone or more charecter put in a single quote or double quote or triple quote
# 4. List                       # List is an ordered sequence of items
# 5. Dictionay                  # Unordered collection of data which stores data in key:value basis
# 6. Set                        # A set is an unordered collection of items
# 7. Tuple                      # Tuple is an ordered sequence of items same as a list
# 8. Booleans                   # which is either True or False

In [34]:
# List vs  Tuple  Vs Set Vs Dictionary
#           List                 |    Tuple                       |    Set                                    Dictionay
# 1. Collection of ordered Data  | 1. Ordered collection of data  | 1. Unordered collection of data     |  1. unordered collection of key:value pair
# 2. Square braces []            | 2. paranthesis ()              | 2. curly braces {}                  |  2. Curly braces {}
# 3. Mutable datatype            | 3. Immutable datatype          | 3. Mutable but no duplicate allowed |  3. Mutable no duplicate
# 4. append to add elements      | 4. cannot be added             | 4. add fn to add elements           |  4. update to add values with key
# 5. pop - remove the element    | 5. specific ele cann't removed | 5. pop - remove the random element  |  5. pop - remove the specific element
# 6. sort - sorting elements     | 6. already sorted              | 6. cannot be sorted                 |  6. sorted - sortings keys default
# 7. Index - searching given ele | 7. Index - searching given ele | 7. cannot get index                 |  7. get - return value with element key
# 8. reverse -reversethe element | 8. cannot reverse              | 8. cannot reverse                   |  8. cannot reverse

In [35]:
# Datatypes are of two types
# 1. Mutable Datatype
# 2. Immutable Datatype 
# Mutable object can change its state or contents and immutable cannot

In [36]:
# Example -1 Numeric Datatypes  1. Integer  2. Float  3. Complex
a=5
b=4.3
c=1+2j
print(a,"is of type",type(a))
print(b,"is of type",type(b))
print(c,"is of type",type(c))

5 is of type <class 'int'>
4.3 is of type <class 'float'>
(1+2j) is of type <class 'complex'>

In [37]:
a=10
b=10
c=3.14
d=0.142
e=10+3j
f=6j
print(a+b,b-f,a*b)

20 (10-6j) 100

In [38]:
print(a+b,c-d,e-f,end='\n')
print(a-c,b-f,a*b,end='\n')

20 2.998 (10-3j)
6.859999999999999 (10-6j) 100

In [39]:
# Example -2  String - A string is a collection of one or more charecter put in a single quote or double quote or triple quote
#                      Mutiline strings can be denoted  using triple quote ''' '''
s="This is a string"
print(s,type(s))

This is a string <class 'str'>

In [40]:
s='''Welcome to Python
         Basic'''
print(s)

Welcome to Python
         Basic

In [41]:
c='10'
print(c,type(c))

10 <class 'str'>

In [42]:
s='hello@123'
s1="hello@123"
print(s,type(s))
print(s1,type(s1))

hello@123 <class 'str'>
hello@123 <class 'str'>

In [43]:
w="welcome to Python"
print(w)

welcome to Python

## String Indexing

In [44]:
#  Positive Indexing
#  w =" Welcome to Python"
#  | w  | e | l | c |  o |   m |   e  |   t   |  o   |   P  |   y  |   t  |   h  |  o  |  n  |
#  | 0  | 1 | 2 | 3 |  4 |   5 |   6  |   7   |  8   |   9  |   10 |   11 |   12 |  13 |  14 |  # postive index start from 0


#  Negative Indexing
#  w =" Welcome to Python"
#  | w  | e  |   l | c   |  o  |   m   |   e  |   t    |  o   |   P   |   y  |   t  |   h  |  o  |  n  |
#  |-15 | -14| -13 | -12 | -11 |   -10 |   -9 |   -8   |  -7  |   -6  |   -5 |   -4 |   -3 |  -2 |  -1 |  # postive index start from 0

In [45]:
print(w[5])

m

In [46]:
print(w[0:7]) # 0to 6 only

welcome

In [47]:
print(w[0:3])

wel

In [48]:
# String Index
print(w[3])    # Identifing the element based on index
print(w[2:])   # Grab the remaining elements except upto the index
print(w[:2])   # Grab the elements upto the index
print(w[-1])   # Grab the last element
print(w[:-1])  # Grab the elemnet except last element
print(w[::2])  # Grab everything with 2 steps
print(w[::-1]) # print string in backward or reverse

c
lcome to Python
we
n
welcome to Pytho
wloet yhn
nohtyP ot emoclew

In [51]:
w="welcome"
print(w[-1:-8:-2])

eolw

In [52]:
#reverse of a string
print(w[-1::-1])

emoclew

## Python String function

In [53]:
# 1. lower()
# 2. Upper()
# 3. title()
# 4. capitalize()
# 5. find()
# 6. index()
# 7. isalpha()
# 8. isdigit()
# 9. isalnum()

In [55]:
# Example -1 
w="welcome to python"
s="WELCOME TO PYTHON"
print(w.upper()) 
print(s.lower())
print(w.title())
print(w.capitalize())

WELCOME TO PYTHON
welcome to python
Welcome To Python
Welcome to python

In [56]:
# Example -2 
w="welcome"
print(w.find('e'))
print(w.find('e',2)) # starts from 2 index
print(w.find('z',2)) #returns -1 if not found

1
6
-1

In [59]:
# Example -3
w="welcome"
print(w.index('c'))
print(w.index('m'))

3
5

In [60]:
# Example -4
w="welcome"
s="welcome123"
print(w.isalpha())
print(s.isalpha())

True
False

In [61]:
# Example -4
w="welcome"
s="welcome123"
d="123"
print(w.isdigit())
print(s.isdigit())
print(d.isdigit())

False
False
True

In [63]:
# Example -5
w="welcome123"
s1="welcome"
s2="welcome@123"
s3="123"
s4="welcome to"
print(w.isalnum())
print(s1.isalnum())
print(s2.isalnum())
print(s3.isalnum())
print(s4.isalnum())

True
True
False
True
False

In [65]:
# split()
a="welcome to python"
b=a.split()  # splitting string
print(b)
print(b[0]) # printing the splitting string based on index
print(b[1]) # printing the splitting string based on index
print(b[2]) # printing the splitting string based on index

['welcome', 'to', 'python']
welcome
to
python

In [67]:
c="ElonMusk,Stevejobs,Billgates"
d=c.split(",")   #splitting string basedon delimitter here it is ,
print(d)
print(d[0])

['ElonMusk', 'Stevejobs', 'Billgates']
ElonMusk

In [68]:
c="ElonMusk Stevejobs Billgates"
d=c.split(" ")   #splitting string basedon delimitter here it is space
print(d)
print(d[0])

['ElonMusk', 'Stevejobs', 'Billgates']
ElonMusk

In [69]:
c="ElonMusk;Stevejobs;Billgates"
d=c.split(";")   #splitting string basedon delimitter here it is ,
print(d)
print(d[0])

['ElonMusk', 'Stevejobs', 'Billgates']
ElonMusk

In [71]:
a="Syed Imran"
print(f"welcome to python  {a} !")  #formatting string literals

welcome to python  Syed Imran !

In [75]:
# Concate string to particular variable
prompt = "Hi How are you"
prompt += "\n I am Fine"
prompt += "\n How about you"
prompt

'Hi How are you\n I am Fine\n How about you'

In [76]:
print(prompt)

Hi How are you
 I am Fine
 How about you

In [2]:
text='let's learn python'  #error becoz single quotion

SyntaxError: invalid syntax (<ipython-input-2-574cc451d346>, line 1)

In [6]:
text1="let's learn python"
text1

"let's learn python"

In [7]:
text='hello "world"'
text

'hello "world"'

In [8]:
s="total states in USA #"
num=25
s+num  #error as str and num cannot be concatenated so we need to convert num as string

TypeError: can only concatenate str (not "int") to str

In [12]:
s="total states in USA # "
num=25
s+str(num)  #convert num as string

'total states in USA # 25'

## List

In [78]:
#    1. List is an ordered sequence of items
#    2. It is one of the most used datatype in python and is very flexiable
#    3. Define in square braces []
#    4. Mutable dataype'''

In [80]:
# Example -1 
a=[10,20,'python']
print(a)
print(type(a))

[10, 20, 'python']
<class 'list'>

In [81]:
l=[10,'python',5.2]
print(l,type(l))

[10, 'python', 5.2] <class 'list'>

In [82]:
l[2]=10           #can be changed 
print(l,type(l))

[10, 'python', 10] <class 'list'>

In [83]:
a=[1,2,3,4,5]
b=["champ",22,88.1]
print(a,b)
print(len(a))  # length of list
print(b[0])    # locate list element based on index
print(a[1:])   # print element except 1st
print(a[:2])   # print element upto 2nd element
print(a+b)     # concatenate 2 list

[1, 2, 3, 4, 5] ['champ', 22, 88.1]
5
champ
[2, 3, 4, 5]
[1, 2]
[1, 2, 3, 4, 5, 'champ', 22, 88.1]

## Append List

In [85]:
a=[1,2,3,4,5]
a.append(6)    #inserting new element to the existing list
print(a)
a.append('python')
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 'python']

In [86]:
# Reverse List
a=[1,2,3,4,5,6]
a.reverse()  # reverse list
a

[6, 5, 4, 3, 2, 1]

In [16]:
import os
os.getcwd()

'C:\\Users\\hp'