## Python Strings

In [1]:
# What is String in Python?
# A string is a sequence of characters.

## How to create a string in Python?

In [2]:
# Strings can be created by enclosing characters inside a single quote or double-quotes.
# Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings

# Defining strings in Python
# All of the following are equivalent

my_string = 'Hello Python'
print(my_string)

my_string = "Hello Python"
print(my_string)

my_string = '''Hello Python'''
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello Python
Hello Python
Hello Python
Hello, welcome to
           the world of Python

## How to access characters in a string?

In [1]:
# We can access individual characters using indexing and a range of characters using slicing.
# Index starts from 0.
# Trying to access a character out of index range will raise an IndexError.
# Python allows negative indexing for its sequences.
# The index of -1 refers to the last item, -2 to the second last item and so on.
# We can access a range of items in a string by using the slicing operator :(colon).

In [5]:
#Accessing string characters in Python
str = 'Python'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[3:-2])

str =  Python
str[0] =  P
str[-1] =  n
str[1:5] =  ytho
str[5:-2] =  h

In [6]:
# If we try to access an index out of the range or use numbers other than an integer, 
# we will get errors.

# index must be in range
str[15]  
...
IndexError: string index out of range

SyntaxError: invalid syntax (<ipython-input-6-bc37c2667ebe>, line 7)

In [7]:
# index must be an integer
str[1.5] 
...
TypeError: string indices must be integers

SyntaxError: invalid syntax (<ipython-input-7-eab7ff9d4a9f>, line 4)

## How to change or delete a string?

In [8]:
# Strings are immutable. 
# This means that elements of a string cannot be changed once they have been assigned. 
# We can simply reassign different strings to the same name.

In [9]:
my_str = 'Python'
my_str[5] = 'a'
...
TypeError: 'str' object does not support item assignment

SyntaxError: invalid syntax (<ipython-input-9-c66575a70d89>, line 4)

In [10]:
my_str = 'Syed Imran' # Reassign different strings to the same name
my_str
'Syed Imran'

'Syed Imran'

In [11]:
# We cannot delete or remove characters from a string. 
# But deleting the string entirely is possible using the del keyword.

del my_str[1]
...
TypeError: 'str' object doesn't support item deletion

SyntaxError: invalid syntax (<ipython-input-11-f1345e165bf8>, line 6)

In [12]:
del my_str # Deleting the string entirely
my_str
...
NameError: name 'my_string' is not defined

SyntaxError: invalid syntax (<ipython-input-12-8b201ada78ec>, line 4)

## Python String Operations

In [ ]:
# Concatenation of Two or More Strings

# Joining of two or more strings into a single one is called concatenation.
# The + operator does this in Python.
# The * operator can be used to repeat the string for a given number of times.

In [14]:
# Python String Operations

str1 = 'Hello '
str2 ='World!'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

str1 + str2 =  Hello World!
str1 * 3 = Hello Hello Hello

In [16]:
# two string literals together
'Hello ''World!'

'Hello World!'

In [19]:
# using parentheses
str = ('Hello '
             'World')
str

'Hello World'

In [20]:
# Iterating Through a string
# We can iterate through a string using a for loop. 
# Example to count the number of 'l's in a string.

In [21]:
# Iterating through a string
count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found

## String Membership

In [22]:
# if a substring exists within a string or not, using the keyword in

In [27]:
'y' in 'Python'
#Output : True

True

In [32]:
'rl' not in 'Hello World!'

False

In [34]:
'ld' in 'Hello World!'

True

## Built-in functions to Work with Python

In [35]:
# Various built-in functions that work with strings as well.
# Some of the commonly used ones are enumerate() and len(). 
# The enumerate() function returns an enumerate object. 
   # It contains the index and value of all the items in the string as pairs. 
   # This can be useful for iteration.

# Similarly, len() returns the length (number of characters) of the string.

In [38]:
str = 'Python'

# enumerate()
list_enumerate = list(enumerate(str))
print('list(enumerate(str) = ', list_enumerate)


#character count
print('len(str) = ', len(str))

list(enumerate(str) =  [(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]
len(str) =  6

## Python String Formatting

In [39]:
# Escape Sequence

# If we want to print a text like He said, "What's there?",
# we can neither use single quotes nor double quotes. 
# This will result in a SyntaxError as the text itself contains both single and double quotes.

In [40]:
print("He said, "What's there?"")
...
SyntaxError: invalid syntax

SyntaxError: invalid syntax (<ipython-input-40-b701c8926236>, line 1)

In [41]:
print('He said, "What's there?"')
...
SyntaxError: invalid syntax

SyntaxError: invalid syntax (<ipython-input-41-43a78fd6ea41>, line 1)

In [42]:
# One way to get around this problem is to use triple quotes. 
# otherwise , we can use escape sequences.
# An escape sequence starts with a backslash and is interpreted

In [43]:
# using triple quotes
print('''He said, "What's there?"''')

# escaping single quotes
print('He said, "What\'s there?"')

# escaping double quotes
print("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

In [52]:
print("C:\\Python32\\Lib")

#Output: C:\Python32\Lib

print("This is printed\nin two lines")

print("This is \x48\x45\x58 representation") # \xHH	Character with hexadecimal value HH

C:\Python32\Lib
This is printed
in two lines
This is HEX representation

## Raw String to ignore escape sequence

In [53]:
# Sometimes we may wish to ignore the escape sequences inside a string. 
# To do this we can place r or R in front of the string. 
# This will imply that it is a raw string and any escape sequence inside it will be ignored.

In [59]:
print('\x61')
print('\x62')
print("This is \x61  \ngood example")
print(r"This is \x61 \ngood example")

a
b
This is a
good example
This is \x61 \ngood example

## The format() Method for Formatting Strings

In [60]:
# The format() method that is available with the string object is very versatile and powerful in formatting strings. 
# Format strings contain curly braces {} as placeholders or replacement fields which get replaced.

In [64]:
# Python string format() method

# default(implicit) order

default_order = "{}, {},{} and {}".format('Welcome to ','Syed Imran','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument

positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument

keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
Welcome to , Syed Imran,Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John

In [68]:
"Hello {0},your balance is {1:9.3f}".format("Syed Imran ",230.2346)

'Hello Syed Imran ,your balance is   230.235'

In [70]:
# Exampe -2
# default arguments
print("Hello {}, your balance is {}.".format("Syed Imran", 230.2346))

# positional arguments
print("Hello {0}, your balance is {1}.".format("Syed Imran", 230.2346))

# keyword arguments
print("Hello {name}, your balance is {blc}.".format(name="Syed Imran", blc=230.2346))

# mixed arguments
print("Hello {0}, your balance is {blc}.".format("Syed Imran", blc=230.2346))

Hello Syed Imran, your balance is 230.2346.
Hello Syed Imran, your balance is 230.2346.
Hello Syed Imran, your balance is 230.2346.
Hello Syed Imran, your balance is 230.2346.

In [71]:
# Example 3: Simple number formatting

# integer arguments
print("The number is:{:d}".format(123))

# float arguments
print("The float number is:{:f}".format(123.4567898))

# octal, binary and hexadecimal format
print("bin: {0:b}, oct: {0:o}, hex: {0:x}".format(12))

The number is:123
The float number is:123.456790
bin: 1100, oct: 14, hex: c

In [72]:
# Example 4: Number formatting with padding for int and floats

# integer numbers with minimum width
print("{:5d}".format(12))

# width doesn't work for numbers longer than padding
print("{:2d}".format(1234))

# padding for float numbers
print("{:8.3f}".format(12.2346))

# integer numbers with minimum width filled with zeros
print("{:05d}".format(12))

# padding for float numbers filled with zeros
print("{:08.3f}".format(12.2346))

   12
1234
  12.235
00012
0012.235

In [74]:
# Example 5: Number formatting for signed numbers

# show the + sign
print("{:+f} {:+f}".format(12.23, -12.23))

# show the - sign only
print("{:-f} {:-f}".format(12.23, -12.23))

# show space for + sign
print("{: f} {: f}".format(12.23, -12.23))

+12.230000 -12.230000
12.230000 -12.230000
 12.230000 -12.230000

In [76]:
# Number formatting with alignment
# The operators <, ^, > and = are used for alignment when assigned a certain width to the numbers.

# Example 5: Number formatting with left, right and center alignment

# integer numbers with right alignment
print("{:5d}".format(12))

# float numbers with center alignment
print("{:^10.3f}".format(12.2346))

# integer left alignment filled with zeros
print("{:<05d}".format(12))

# float numbers with center alignment
print("{:=8.3f}".format(-12.2346))

   12
  12.235
12000
- 12.235

In [82]:
# Example 6: String formatting with padding and alignment

# string padding with left alignment
print("{:5}".format("cat"))

# string padding with right alignment
print("{:>5}".format("cat"))

# string padding with center alignment
print("{:^5}".format("cat"))

# string padding with center alignment
# and '*' padding character
print("{:*^5}".format("cat"))

cat
  cat
 cat
*cat*

In [83]:
# Example 7: Truncating strings with format()

# truncating strings to 3 letters
print("{:.3}".format("caterpillar"))

# truncating strings to 3 letters
# and padding
print("{:5.3}".format("caterpillar"))

# truncating strings to 3 letters,
# padding and center alignment
print("{:^5.3}".format("caterpillar"))

cat
cat
 cat

In [85]:
# Example 8: Formatting class members using format()

# define Person class
class Person:
    age = 23
    name = "Syed Imran"

# format age
print("{p.name}'s age is: {p.age}".format(p=Person()))

Syed Imran's age is: 23

In [87]:
# In above Here Person object is passed as a keyword argument p.
# Inside the template string, Person's name and age are accessed using .name and .age respectively.

In [88]:
# Example 9: Formatting dictionary members using format()

# define Person dictionary
person = {'age': 23, 'name': 'Syed Imran'}

# format age
print("{p[name]}'s age is: {p[age]}".format(p=person))

Syed Imran's age is: 23

In [89]:
# format dictionaries in Python using str.format(**mapping)
# define Person dictionary
person = {'age': 23, 'name': 'Syed Imran'}

# format age
print("{name}'s age is: {age}".format(**person))

Syed Imran's age is: 23

In [91]:
# Example 11: Type-specific formatting with format() and overriding __format__() method
import datetime
# datetime formatting
date = datetime.datetime.now()
print("It's now: {:%Y/%m/%d %H:%M:%S}".format(date))

# complex number formatting
complexNumber = 1+2j
print("Real part: {0.real} and Imaginary part: {0.imag}".format(complexNumber))

# custom __format__() method
class Person:
    def __format__(self, format):
        if(format == 'age'):
            return '23'
        return 'None'

print("Syed Imran's age is: {:age}".format(Person()))

It's now: 2021/11/10 13:03:32
Real part: 1.0 and Imaginary part: 2.0
Syed Imran's age is: 23

In [ ]:
# Here,For datetime:
# Current datetime is passed as a positional argument to the format() method.
# And, internally using __format__() method, format() accesses the year, month, day, hour, minutes and seconds.
# For complex numbers:
# 1+2j is internally converted to a ComplexNumber object.
# Then accessing its attributes real and imag, the number is formatted.
# Overriding __format__():
# Like datetime, you can override your own __format__() method for custom formatting which returns age when accessed as {:age}

In [65]:
# The format() method can have optional format specifications. 
# They are separated from the field name using colon.
# For example, we can left-justify <, right-justify > or center ^ a string in the given space.

In [ ]:
# We can also format integers as binary, hexadecimal, etc. and floats can be rounded or displayed in the exponent format. 
# There are tons of formatting you can use.