In [1]:
# Python sets | how they are created, adding or removing elements from them, and all operations performed on sets in Python.

## Python sets

In [2]:
# A set is an unordered collection of items.
# Every set element is unique (no duplicates) 
# and must be immutable (cannot be changed).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma, 
# or by using the built-in set() function.

In [3]:
# Example -1

# Different types of sets in Python

# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, (1, 2, 3), 'Hello'}

In [4]:
# Example -2 

# set cannot have duplicates
# Output: {1, 2, 3, 4}
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

# we can make set from a list
# Output: {1, 2, 3}
my_set = set([1, 2, 3, 2])
print(my_set)

# set cannot have mutable items
# here [3, 4] is a mutable list
# this will cause an error.

my_set = {1, 2, [3, 4]}

{1, 2, 3, 4}
{1, 2, 3}

TypeError: unhashable type: 'list'

In [5]:
# Creating an empty set is a bit tricky.
# Empty curly braces {} will make an empty dictionary in Python. 
# To make a set without any elements, we use the set() function without any argument.

In [6]:
#Example -3

# Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}

# check data type of a
print(type(a))

# initialize a with set()
a = set()

# check data type of a
print(type(a))

<class 'dict'>
<class 'set'>

## Modifying a set in Python

In [7]:
# Sets are mutable.
# However, since they are unordered, indexing has no meaning.
# We cannot access or change an element of a set using indexing or slicing.
# Set data type does not support it.
# We can add a single element using the add() method,
# and multiple elements using the update() method.

In [14]:
# Example -4 

# initialize my_set

my_set = {1, 3}
print(my_set)

my_set[0]
# if you uncomment the above line
# you will get an error
# TypeError: 'set' object does not support indexing

{1, 3}

TypeError: 'set' object is not subscriptable

In [15]:
# Example -5 

# add an element
# Output: {1,3,5}
my_set.add(2)
print(my_set)

{1, 2, 3}

In [16]:
# Example -6

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2, 3, 4])
print(my_set)

{1, 2, 3, 4}

In [17]:
# Example -7

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

## Removing elements from a set

In [18]:
# A particular item can be removed from a set using the methods discard() and remove().
# discard() function leaves a set unchanged if the element is not present in the set. 
# remove() function will raise an error in such a condition (if element is not present in the set).

In [19]:
# Example -8

# Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}

In [20]:
# Example -9

# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [21]:
# Example -10

# discard an element
# not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

{1, 3, 5}

In [22]:
# Example -11

# remove an element
# not present in my_set
# you will get an error.
# Output: KeyError

my_set.remove(2)

KeyError: 2

In [24]:
# Example -12

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

my_set.discard(3,4) # discard() takes exactly one argument
print(my_set)

{1, 3, 4, 5, 6}

TypeError: discard() takes exactly one argument (2 given)

In [25]:
# Example -13
# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)
my_set.remove(3,4)

{1, 3, 4, 5, 6}

TypeError: remove() takes exactly one argument (2 given)

In [23]:
# Similarly, we can remove and return an item using the pop() method.
# Since set is an unordered data type, 
# there is no way of determining which item will be popped. It is completely arbitrary.
# We can also remove all the items from a set using the clear() method.

In [27]:
# Example -14

# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
print(my_set)

# pop an element
# Output: random element
print(my_set.pop())
print(my_set)

{'o', 'H', 'd', 'e', 'r', 'W', 'l'}
o
{'H', 'd', 'e', 'r', 'W', 'l'}

In [28]:
# Example -15

# pop another element
my_set.pop()
print(my_set)

{'d', 'e', 'r', 'W', 'l'}

In [30]:
# Example -16

# clear my_set
# Output: set()
my_set.clear()
print(my_set)

set()

## Python Set Operations

In [31]:
# Sets can be used to carry out mathematical set operations like union, intersection, 
# difference and symmetric difference.

In [33]:
# Example -17

# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
# Example -18

# use union function
A.union(B)
#{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [38]:
# Exmple -19

# use union function on B
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [40]:
# Intersection is performed using & operator. 

# Example-20

# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)

{4, 5}

In [42]:
# Example- 21

# use intersection function on A
A.intersection(B)
{4, 5}

# use intersection function on B
B.intersection(A)
{4, 5}

{4, 5}

In [43]:
# Example -22

# Difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)

{1, 2, 3}

## Set Membership Test

In [46]:
# in keyword in a set
# initialize my_set
my_set = set("apple")

# check if 'a' is present
# Output: True
print('a' in my_set)

# check if 'p' is present
# Output: False
print('p' not in my_set)

True
False

## Iterating Through a Set

In [48]:
for letter in set("SyedImran"):
    print(letter)

y
S
d
e
m
r
I
n
a