# PythonFor Loop

In [1]:
# The for loop in Python is used to iterate over a sequence (list, tuple, string) 
# or other iterable objects.

In [3]:
# Syntax of for Loop
#    for val in sequence:
#    loop body

# Here, val is the variable that takes the value of the item inside the sequence on each iteration.
# Loop continues until we reach the last item in the sequence.

In [4]:
# Example -1

# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 48

In [5]:
# Example -2
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
# Example -3
a=[x for x in 'champ']
print(a)

['c', 'h', 'a', 'm', 'p']

In [9]:
# Example -4 Odd & Even Number
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
    if i%2==0:
       print(i,"Even Number")
    else:
        print(i,"Odd Number")

1 Odd Number
2 Even Number
3 Odd Number
4 Even Number
5 Odd Number
6 Even Number
7 Odd Number
8 Even Number
9 Odd Number
10 Even Number

In [10]:
# Example -5 -  String - For
for a in "Hello All":
    print(a)

H
e
l
l
o

A
l
l

In [14]:
# Example -6 - Dictionary -For
a={"Name":"Syed Imran","Age":25,"Company":["TCS","GenPack"]}
print(a.items())
for k,v in a.items():
    print(k)
    print(v)

dict_items([('Name', 'Syed Imran'), ('Age', 25), ('Company', ['TCS', 'GenPack'])])
Name
Syed Imran
Age
25
Company
['TCS', 'GenPack']

# The range() function

In [15]:
# We can generate a sequence of numbers using range() function.
# range(10) will generate numbers from 0 to 9 (10 numbers).
# We can also define the start, stop and step size as range(start, stop,step_size).
# step_size defaults to 1 if not provided.

In [16]:
# We can use the range() function in for loops to iterate through a sequence of numbers
# Example -1
for a in range(5):
    print(a)

0
1
2
3
4

In [17]:
# Example -2
for a in range(1,10,2):
    print(a)

1
3
5
7
9

In [18]:
# Example -3
for a in range(10,0,-2):
    print(a)

10
8
6
4
2

In [19]:
# To force this function to output all the items, we can use the function list().
# Example -4

print(range(10))
print(list(range(10)))
print(list(range(2, 8)))
print(list(range(2, 20, 3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

In [20]:
# Example -5

# Program to iterate through a list using indexing

genre = ['Allen', 'rock', 'jazz']

# iterate over the list using index
for i in range(len(genre)):
    print("I like", genre[i])

I like Allen
I like rock
I like jazz

# For loop with else

In [21]:
# A for loop can have an optional else block as well. 
# The else part is executed if the items in the sequence used in for loop exhausts.

In [22]:
# Example -1

digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [23]:
# Example -2

# program to display student's marks from record
student_name = 'Syed Imran'

marks = {'Allen': 90, 'Smith': 55, 'Miller': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

No entry with that name found.

In [1]:
# Example -3

# program to display student's marks from record
student_name = 'Syed Imran'

marks = {'Syed Imran': 90, 'Smith': 55, 'Miller': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

90

In [2]:
# Example-4

a=[i**2 for i in range (0,5)]
a

[0, 1, 4, 9, 16]

In [3]:
# Example -5
a=[i for i in range(10) if i%2==0]
a

[0, 2, 4, 6, 8]

In [6]:
# Enumerate - To track no. of iteration in the loop without working with variable increament

a=0
for i,a in enumerate("Hello Python"):
  print(i,a)

0 H
1 e
2 l
3 l
4 o
5
6 P
7 y
8 t
9 h
10 o
11 n

In [8]:
# Zip - Creatinga tuples by zipping 2 list
a = ["Name","Age","Country"]
b = ["Champ",27,"India"]
list(zip(a,b))

[('Name', 'Champ'), ('Age', 27), ('Country', 'India')]